{{#bs-button type="primary" icon="glyphicon glyphicon-plus" action="openInput"}}
    Добавить игроков
{{/bs-button}}

{{#bs-modal body=false footer=false open=openInput closedAction="onCloseInput"
    title="Добавить игроков" submitAction=(action "addPlayers")}}
    {{#bs-modal-body class="add-players-modal"}}
        {{input value=coach placeholder="Тренер" class="form-control" autofocus=true}}

        <table id="new-players-table" class="table">
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" placeholder="Город"/>
                </td>
            </tr>
        </table>
    {{/bs-modal-body}}
    {{#bs-modal-footer}}
        {{#bs-button buttonType="submit" type="success"}}Сохранить{{/bs-button}}
    {{/bs-modal-footer}}
{{/bs-modal}}