{{#bs-button type="info" icon="glyphicon glyphicon-cog" action="openSettings"}}
    Настройки
{{/bs-button}}

{{#bs-modal body=false footer=false open=openSettings closedAction="onCloseInput"
title="Настройки" submitAction=(action "saveOptions")}}
    {{#bs-modal-body}}
        <div class="form-group">
            <label>
                Количество туров:
                {{input value=model.toursCount class="form-control" type="number" min=0 disabled=gameStarted}}
            </label>
        </div>
        <div class="form-group">
            {{input type="checkbox" id="game-type-one-team" checked=model.notPlayTeammates disabled=model.notPlayDouble}}
            <label for="game-type-one-team">Не играть с сокомандниками</label>
            <br>
            {{input type="checkbox" id="game-type-all-players" checked=model.notPlayDouble change=(action "updatePlayDouble")}}
            <label for="game-type-all-players">Не играть дважды с одним и тем же игроком</label>
        </div>
    {{/bs-modal-body}}
    {{#bs-modal-footer}}
        {{#bs-button buttonType="submit" type="success"}}Сохранить{{/bs-button}}
    {{/bs-modal-footer}}
{{/bs-modal}}