.add-players-modal {
  height: 400px;
  overflow-y: scroll;

  .form-control {
    margin: 5px;
  }
}

.group-column {
  width: 400px;
  display: inline-table;
  padding: 0 10px;

  h1 {
    text-align: center;
  }
}

.groups-container {
  white-space: nowrap;
}

.inline {
  display: inline-block;
}
