.add-players-modal {
  height: 400px;
  overflow-y: scroll;

  .form-control {
    margin: 5px;
  }
}

.group-column {
  width: 400px;
  padding: 0 10px;

  h1 {
    text-align: center;
  }
}

.groups-container {
  display: flex;
}

.inline {
  display: inline-block !important;
}

.controls-container {
  padding: 0 10px;
}

.content-container {
  padding-top: 60px;
}

.navbar {
  position: fixed;
  width: 100%;
}

.button-spacer {
  width: 30px;
  display: inline-block;
}
